<!DOCTYPE html>
<html lang="es">
    <!-- Se puede hacer en answerQuestion -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>Preguntas</title>
    </head>
    <body>
        <%- include("header", {user: user}) %>      
        <h1 class="titulo"><%= question.question %></h1>
        <p class="info">¿Qué crees que ha respondido <strong><%= friend.name %></strong>?</p>
        <form method="post" action="/friendQuiz/">
            <ul>
                <% for(let i = 0; i < answers.length; i++) { %>
                <li class="eleccion">
                    <span>
                        <input type="radio" name="answer" value="<%= answers[i] %>"><%= answers[i] %>
                    </span>
                </li>
                <% } %>        
            </ul>
            <input type="hidden" name="questionId" value="<%= question.id %>">
            <input type="hidden" name="friendId" value="<%= friend.id %>">                        
            <div class="botonCentro">
                <input type="submit" name="crearpr" class="boton" value="Responder" id="preg">
            </div>
        </form>
    </body>
</html>
