<!DOCTYPE html>
<html lang="es">
    <!-- Contenido de la página web -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Mis amigos</title>
    </head>
    <body>
        <%- include("header", {user: user}) %>
        <%- include("flash") %>	        
        <h1 class="titulo">Solicitudes de amistad</h1>
        <% if(friends.requests) { %>
    	<ul class ="listaAmigos">
            <% for (let i = 0; i < friends.requests.length; i++) { %>                    
            <li class = "amigo">
                <form method="post" action="/actionRequest/<%= friends.requests[i].id%>">
                    <img id="fotoAmigo" src="/img/<%= friends.requests[i].img %>" alt="foto de perfil"> <%= friends.requests[i].name %>
                    <span id="botonesAmigos">
                        <input type="hidden" value="<%= friends.requests[i].id %>">
                        <input type="submit" name="aceptar" class="boton" value="Aceptar">
                        <input type="submit" name="rechazar" class="boton" value="Rechazar">
                    </span>
                </form>
            </li>
            <% } %>
        </ul>
        <% } else{ %>
            <p class="simpleFlashAttention">No tienes solicitudes de amistad nueva</p>
        <% } %>
        <h1 class="titulo">Búsqueda de amigos</h1>
        <ul>
            <li class="busqueda">
                <form method="GET" action="/searchFriend" >
                    <div>
                        <p>Buscar por nombre: </p> 
                        <input type="text" name="friend" value="">
                    </div>
                    <input type="submit" class="boton" value="Buscar">
                </form>
            </li>
        </ul>
        <h1 class="titulo">Mis amigos</h1>
        <ul class = "listaAmigos">
            <% if(friends.aggregated) { %>
                <% for(let i = 0; i < friends.aggregated.length; i++) { %>
                    <a href="/searchUser/<%= friends.aggregated[i].id %>">                        
                        <li class = "amigo">
                            <img id="fotoAmigo" src="/img/<%=friends.aggregated[i].img %>" alt="foto de perfil"><%= friends.aggregated[i].name %>       
                        </li>
                    </a>
                <% } %>
            <% } else { %>
                <p class="simpleFlashAttention">No tienes amigos...</p>                
            <% } %>
        </ul>
    </body>
</html>