<!DOCTYPE html>
<html lang="es">
    <!-- Contenido de la página web -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title><%= user.name %></title>
    </head>
    <body>
    	<%- include("header", {user: user}) %>
        <h1 class="titulo">Modificar perfil</h1>
        <%- include("flash") %>	
    	<form id="perfilCompleto" method="post" action="/modificar" enctype="multipart/form-data">
	    	<div id="perfil">
                <div id = "imagenysubida">
                    <img id="fotoPerfil" src="/img/<%= user.img %>">
                    <input type="file" name="img">
                </div>
	    		<div id="datosPerfil">
                    <p>Email: <input type="text" id = "modificar" name="email" value= "<%= user.email %>"></p>
                    <p>Contraseña: <input type="text" id = "modificar" name = "password"></p>
	    			<p>Nombre: <input type="text" id = "modificar" name="name" value= "<%= user.name %>"></p>
                    <p>Nacimiento: <input type="date" name="age" value = "1995-05-01"></p>
	    			<div class="entrada" id="radiosReg">
                        <% if (user.gender === 'Hombre') { %>
                            <span>Hombre<input type="radio" name="gender" value="hombre" checked></span>
                        <% } else { %>
                            <span>Hombre<input type="radio" name="gender" value="hombre"></span>
                        <% } if (user.gender === 'Mujer') { %>
                            <span>Mujer<input type="radio" name="gender" value="mujer" checked></span>
                        <% } else { %>
                            <span>Mujer<input type="radio" name="gender" value="mujer"></span>
                        <% } if (user.gender === 'Otro') { %>
                            <span>Otro<input type="radio" name="gender" value="otro" checked></span>
                        <% } else { %>    
                            <span>Otro<input type="radio" name="gender" value="otro"></span>
                        <% } %>
                    </div>    
	    		</div>
            </div>
            <div class="botonCentro">
                <input type="submit" name="modificaPerf" value="Aceptar" class = "boton">
            </div>
        </form>
    </body>
</html>