<!DOCTYPE html>
<html lang="es">
    <!-- Contenido de la página web -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title><%= user.name %></title>
    </head>
    <body>
    	<%- include("header", {user: user}) %>
    	<h1 class="titulo">Perfil</h1>
    	<div id="perfilCompleto">
	    	<div id="perfil">
                <!--CUIDADO posible CSS-->
	    		<img id="fotoPerfil" src="/img/<%= user.img %>">
	    		<div id="datosPerfil">
	    			<p><%= user.name %></p>
	    			<p><%= user.age %> años</p>
	    			<p><%= user.gender %></p>
	    			<p><%= user.points %> puntos</p>
	    		</div>
	    	</div>
	    	<input type="submit" id="modificaPerfil" name="modificaPerf" value="Modificar Perfil">
    	</div>
    </body>
</html>