<!DOCTYPE html>
<html lang="es">
    <!-- Contenido de la p치gina web -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>Usuario</title>
    </head>
    <body>
		<%- include("header", {user: user}) %>
		<% if (searched.id == user.id) { %>
    	<h1 class="titulo">Perfil</h1>
    	<form id="perfilCompleto" method="get" action="/modificar">
	    	<div id="perfil">
                <!--CUIDADO posible CSS-->
	    		<img id="fotoPerfil" src="/img/<%= searched.img %>">
	    		<div id="datosPerfil">
	    			<p><%= searched.name %></p>
	    			<p><%= user.age %> a침os</p>
	    			<p><%= searched.gender %></p>
	    			<p><%= searched.points %> puntos</p>
	    		</div>
			</div>
			<input type="submit" id="modificaPerfil"value="Modificar Perfil">
		</form>		
		<% } else if (!areFriends) { %>
    	<h1 class="titulo">Perfil</h1>
    	<form id="perfilCompleto" method="get" action="/addFriend">
	    	<div id="perfil">
                <!--CUIDADO posible CSS-->
	    		<img id="fotoPerfil" src="/img/<%= searched.img %>">
	    		<div id="datosPerfil">
	    			<p><%= searched.name %></p>
	    			<p><%= user.age %> a침os</p>
	    			<p><%= searched.gender %></p>
	    			<p><%= searched.points %> puntos</p>
	    		</div>
			</div>
			<input id="modificaPerfil" type="submit" id="addFriend" value="A침adir amigo">
		</form>
		<% } else { %>
			<p class="flashAttention">Usuario no encontrado.</p>
		<% } %>
    </body>
</html>