<!DOCTYPE html>
<html lang="es">
    <!-- Contenido de la página web -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>Usuario</title>
    </head>
    <body>
		<%- include("header", {user: user}) %>		
		<% if (searched.id == user.id) { %>
		<h1 class="titulo">Perfil</h1>
		<%- include("flash") %>
		<div id="perfilCompleto">
			<form method="get" action="/modificar">
				<div id="perfil">
					<!--CUIDADO posible CSS-->
					<img id="fotoPerfil" src="/img/<%= searched.img %>">
					<div id="datosPerfil">
						<p><%= searched.name %></p>
						<p><%= searched.age %> años</p>
						<p><%= searched.gender %></p>
						<p><%= searched.points %> puntos</p>
					</div>
				</div>
			</form>	
			<form method="POST" class="botonesPerfil" action="/uploadPicture" enctype="multipart/form-data">
				<div class = "subirImg">
					<span class="botonesPerfil">Subir imagen a la galería:
					<input type="file"  name="img"/></span>
					<input type="submit" class = "boton" value="Subir imagen">				
				</div>
			</form>

			<div class="botonesPerfil">
				<input type="submit" class="boton" id="modificaPerfil"value="Modificar Perfil">
			</div>
			
			<div>
				<h2 class="titulo">Galería de <%= searched.name %></h2>
				<% for(let i = 0; i < pictures.length; i++) { %>
					<img id="fotoPerfil" src="/img/<%= pictures[i] %>">
				<% } %>
			</div>
		</div>	

		<% } else if (!areFriends) { %>
		<h1 class="titulo">Perfil</h1>
		<%- include("flash") %>
    	<form id="perfilCompleto" method="post" action="/addFriend">
	    	<div id="perfil">
                <!--CUIDADO posible CSS-->
	    		<img id="fotoPerfil" src="/img/<%= searched.img %>">
	    		<div id="datosPerfil">
	    			<p><%= searched.name %></p>
	    			<p><%= searched.age %> años</p>
	    			<p><%= searched.gender %></p>
	    			<p><%= searched.points %> puntos</p>
	    		</div>
			</div>
			<input type="hidden" value="<%= searched.id %>"name=friendId>
			<input id="modificaPerfil" type="submit" id="addFriend" value="Añadir amigo">
			<div>
					<h2 class="titulo">Galería de <%= searched.name %></h2>
					<% for(let i = 0; i < pictures.length; i++) { %>
						<img id="fotoPerfil" src="/img/<%= pictures[i] %>">
					<% } %>
				</div>
		</form>
		<% } else if(areFriends) { %>
			<h1 class="titulo">Perfil</h1>
			<%- include("flash") %>
			<div id="perfilCompleto">
				<div id="perfil">
					<img id="fotoPerfil" src="/img/<%= searched.img %>">
					<div id="datosPerfil">
						<p><%= searched.name %></p>
						<p><%= searched.age %> años</p>
						<p><%= searched.gender %></p>
						<p><%= searched.points %> puntos</p>
					</div>
				</div>
				<div>
					<h2 class="titulo">Galería de <%= searched.name %></h2>
					<% for(let i = 0; i < pictures.length; i++) { %>
						<img id="fotoPerfil" src="/img/<%= pictures[i] %>">
					<% } %>
				</div>
			</div>
		<% } else { %>
			<p class="flashAttention">Usuario no encontrado.</p>
		<% } %>
    </body>
</html>