<!DOCTYPE html>
<html lang="es">
    <!-- Contenido de la página web -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>Preguntas</title>
    </head>
    <body>
        <%- include("header", {user: user}) %>            
        <h1 class="titulo"><%= question.question %></h1>
        <div class="info">
            <% if(!answer) { %>
            <p>No has contestado a esta pregunta.</p>
            <form method="get" action="/answerQuestion/<%= question.id %>">              
                <input type="submit" class="boton" value="Contestar pregunta" id="contestar">
            </form>
            <% } else { %>
            <span class="simpleFlashAttention">Tu respuesta: <%= answer %></span>
            <% } %>
        </div>
        <% if(friends.length > 0) { %>
            <p class="info">Los siguientes amigos han contestado a esta pregunta: </p>
            <ul class ="listaAmigos">
                <% for(let i = 0; i < friends.length; i++) { %>                        
                <li id="quiz">
                    <span>
                        <img id="fotoAmigo" src="/img/<%= friends[i].img %>" alt="foto de amigo"> <%= friends[i].name %>
                    </span>
                    <% if(friends[i].correct === null) { %>
                    <form id="botonesAmigos" method="get" action="/friendQuiz/">
                        <input type="hidden" name="questionId" value="<%= question.id %>">
                        <input type="hidden" name="friendName" value="<%= friends[i].name %>">
                        <input type="hidden" name="friendId" value="<%= friends[i].id %>">
                        <input type="submit" class="boton" value="Adivinar">
                    </form>
                    <% } else if(friends[i].correct) { %>
                        <p id="acierto">Has acertado!</p>
                    <% } else { %>
                        <p id="error">Has fallado!</p>
                    <% } %>
                </li>
                <% } %>
            </ul>
        <% } else { %>
            <p class="simpleFlashAttention">Tus amigos aún no han respondido a esta pregunta...</p>
        <% } %>
    </body>
</html>
