<!DOCTYPE html>
<html lang="es">
    <!-- Contenido de la página web -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title><%= user.name %></title>
    </head>
    <body>
    	<%- include("header", {user: user}) %>
        <h1 class="titulo">Perfil</h1>
        <% if (friend) { %>
            <%- include("flash") %>
    	<div id="perfilCompleto">
	    	<div id="perfil">
                <!--CUIDADO posible CSS-->
	    		<img id="fotoPerfil" src="/img/<%= friend.img %>">
	    		<div id="datosPerfil">
	    			<p><%= friend.name %></p>
	    			<p><%= friend.age %> años</p>
	    			<p><%= friend.gender %></p>
	    			<p><%= friend.points %> puntos</p>
	    		</div>
            </div>
            <% if(!friend.areFriends) { %>
                <form method="POST" action="/addFriend" class="botonCentro">
                    <input class= "boton" type="submit" value="Añadir amigo">
                </form>
            <% } %>
        </div>
        <% } else { %>
            <p class="simpleFlashAttention">Usuario no encontrado...</p>
        <% } %>
    </body>
</html>